# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
env/
.venv/
.env/

# macOS
#.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Python-specific
*.pyo
*.pyd

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Ignore compiled C extensions
*.so

# Ignore logs and temp files
*.log
*.tmp
