# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
env/
.venv/
.env/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Python-specific
*.pyo
*.pyd

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Ignore compiled C extensions
*.so

# Ignore logs and temp files
*.log
*.tmp

# Specific Files
examples/Example2_Rloops/*
!examples/Example2_Rloops/1_Preprocess_Data.ipynb
!examples/Example2_Rloops/2_R_Loops_InDelsTopo_Analysis.ipynb

examples/Example1_DNA_dsb_repair/2B_DNA_DSB_InDelsTopo_AvgAnalysis-Copy1.ipynb
